.categoryInfo {
    background-color: #d1e1f9;
    width: 61.5%;
    margin: 5px auto;
}

.productsContainer {
    display: flex;
    flex-wrap:  wrap;
    align-items: stretch;
    padding-left: 4em;
}
.productCard {
    flex-direction: row;
    flex-basis: 0;
}